node_modules/
out/
dist/

# Flutter build output
flutter_parallel/build/
flutter_parallel/dist/
flutter_parallel/.dart_tool/
flutter_parallel/.flutter-plugins
flutter_parallel/.flutter-plugins-dependencies
flutter_parallel/pubspec.lock

# Electron build artifacts
electron_app_unpacked/
electron_extracted/
electron_app.asar

# OS / Editor
.DS_Store
.vscode/
*.log

# Dart tool artifacts
.dart_tool/